{% extends 'base.html.twig' %}

{% block title %}Liga typerów{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {% if form.password is defined %}
        <div class="form-group p-2 col-5">
            {{ form_row(form.password, {'errors': false}) }}
            {{ form_errors(form.password) }}
        </div>
    {% else %}
        <div col-5>
            Ustaw hasło do konta.
        </div>
    {% endif %}
    <div class="form-group p-2 col-5">
        {{ form_row(form.newPassword, {'errors': false}) }}
        {{ form_errors(form.newPassword)}}
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 mb-1">
        <button class="btn btn-warning">{{ button_label|default('Zmień hasło') }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
