{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Rejestracja</h1>

    {{ form_start(registrationForm) }}
    <div class="form-group col-3">
        {{ form_row(registrationForm.email) }}
    </div>
    <div class="form-group col-3">
        {{ form_row(registrationForm.plainPassword) }}
    </div>
    <div class="form-group col-3">
        {{ form_row(registrationForm.agreeTerms) }}
    </div>

    <button class="btn btn-warning">Zarejestruj</button>
    {{ form_end(registrationForm) }}
{% endblock %}
