{% extends 'base.html.twig' %}

{% block title %}Liga typerów{% endblock %}

{% block body %}
    <h1>Liga typerów</h1>
    {{ form_start(form) }}
    <div class="col-lg-12 col-md-12 col-sm-12 mb-1" align="right">
        <button class="btn btn-warning">{{ button_label|default('Zapisz typy') }}</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Kolejka</th>
                <th>Gospodarze</th>
                <th>Goście</th>
                <th>Gole gosp.</th>
                <th>Gole gości</th>
            </tr>
        </thead>
        {% set i = 0 %}
        {% for type in form.matchTypes %}
            <tr>
                {% if loop.index % 8 == 1  %}
                    <td>{{ type.vars['value'].matchGame.queue }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ type.vars['value'].matchGame.home }}</td>
                <td>{{ type.vars['value'].matchGame.away }}</td>
                <td>{{ form_row(type.goalsHome) }}</td>
                <td>{{ form_row(type.goalsAway) }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {{ form_end(form) }}
{% endblock %}
