{% extends 'base.html.twig' %}

{% block title %}MatchTypes{% endblock %}

{% block body %}
    <h1>MatchTypes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ match_type.id }}</td>
            </tr>
            <tr>
                <th>GoalsHome</th>
                <td>{{ match_type.goalsHome }}</td>
            </tr>
            <tr>
                <th>GoalsAway</th>
                <td>{{ match_type.goalsAway }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('match_types_index') }}">back to list</a>

    <a href="{{ path('match_types_edit', {'id': match_type.id}) }}">edit</a>

    {{ include('match_types/_delete_form.html.twig') }}
{% endblock %}
